* {
    font-family: calibri;
    font-size: 1.25em;
}

html {
    background-color: #333;
}

.container {
    width: 100%;
    height: 100vh;
    border: 0.25vh solid black;
    border-radius: 0.5vh;
}

#data_container {
    width: 55%;
    background-color: #555;
    text-align: center;
    margin: 0 auto;
}

#console_mimic {
    width: 55%;
    background-color: #555;
    text-align: center;
    margin: 0 auto;
    font-size: 0.5em;
}

.console_item {
    transition: all 300ms;
}



.information_table {
    margin: 0 auto;
    background-color: #333;
}

.table_row {
}

.table_row > td {
    --cell-size: 100px;
    width: var(--cell-size);
    height: var(--cell-size);
}

.data_input {
    height: 50%;
    width: 70%;
    font-size: 0.2em;
    resize: none;
}




.terminal {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: #555;
    font-size: 0.5em;
    margin: 0;
    padding: 0.5%;
    box-sizing: border-box;
    /* line-height: 25%; */
    border-right: 0.2em solid #111;
    transition: left 0.2s ease-in-out;
    overflow-y: scroll;
}

.terminal_tab {
    width: 7%;
    height: 5vh;
    background-color: #555;
    border-top: 0.2em solid #111;
    border-right: 0.2em solid #111;
    border-top-right-radius: 10px;
    position: fixed;
    left: 22%;
    top: 0;
    font-size: 0.7em;
    text-align: center;
    padding-top: 0.3%;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: rotate(90deg);
    transition: left 0.2s ease-in-out;
}

.terminal_tab:hover {
    color: #eee;
    text-shadow: 0 0 10px #111;
}

.terminal_input {
    width: 95%;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    border: 0.2em solid #111;
    border-radius: 0.2em;
}

.terminal > p {
    word-wrap: break-word;
}

.console_object {
    background-color: #333;
    color: #eee;
    /* font-size: 1.5em; */
    display: grid;
    /* grid-template-rows: auto; */
    grid-template-columns: 25% 75%;
    /* grid-template-rows: auto; */
    text-align: center;
    margin: 1em 0;
    border-radius: 0.2em;
    border: 0.2em solid #111;
}

.console_object > * {
    font-size: 1em;
}

.console_object > label {
    /* display: inline-block; */
    /* width: 25%; */
    background-color: #333;
}

.console_object>div:nth-child(4n + 2), .console_object>label:nth-child(4n+1) {
    background-color: #222;
}